body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
.flexible-container{
    display:flex;
}
.space{
    margin-bottom: 100px;
}
.column-half{
    width: 50%;
}
.column-3{
    margin-right: 30px;
    width: 30%;
    margin-left: 30px;
}
/*header style start*/
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 2px 2px 15px #80808040;
}
 
.header ul li {
    float: left;
  }
  
.header ul li a {
    display: block;
    color: #0ea7fa;
    text-align: center;
    padding: 14px 24px;
    font-size: 20px;
    text-decoration: none;
}

/*header style end*/

/*hero-section style start*/

.hero-section .column-half .hero-image{
    max-width: 90%;
    padding-top: 20px;
}
.hero-content{
    margin: 60px 0px 0px 50px;
}
.hero-section h1 {
    font-size: 60px;
    text-transform: capitalize;
}
.hero-content p{
    font-size: 18px;
    font-weight: 600;
    color:#607d8b
}
span.title-highlight {
    color: #0795f8;
}
a.link-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 15px 50px;
    background-image: linear-gradient(
322deg
, #a5d4ee, #0a9af8);
    margin-top: 20px;
    border-radius: 50px;
    box-shadow: 3px 3px 20px #8080809c;
}
/*hero-section style end*/

/*about-section style start*/
#about{
    background-image: url(../images/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0px;
}
.about-content.column-half h1 {
    font-size: 35px;
    color: #607d8b;
    text-transform: capitalize;
}
.about-content.column-half p {
    text-align: justify;
    padding-right: 80px;
}
/*about-section style end*/

/*blog-section style start*/
h1.blog-section-title {
    text-align: center;
    /* font-size: 40px; */
    font-size: 35px;
    color: #607d8b;
    text-transform: capitalize;
}
p.blog-section-sub-title {
    text-align: center;
    margin-bottom: 40px;
    padding: 0px 150px;
}
.blog-card {  
    padding: 20px;
    box-shadow: 3px 3px 20px #80808094;
    border-radius: 30px;
    background-color: #ffff;
}

.blog-card img {
    max-width: 100%;
    border-radius: 20px;
}

.blog-sub-area {
    padding: 0px 50px;
}
.blog-card h1{
    font-weight: 900;
    text-transform: capitalize;
}
.blog-card p{
    text-align: justify;
}
/*blog-section style end*/

/*count-section style end*/
.count-area{
    padding: 30px 50px;
    margin: 0 70px;
    box-shadow: 3px 3px 25px #8080807a;
    border-radius: 10px;
}
.count{
    text-align: center;
}
.count h1 {
    font-size: 30px;
    font-weight: 900;
    text-transform: capitalize;
}
/*count-section style end*/

/*contat-section style start*/
#contact-section{
    padding: 60px 150px;
    background-image: url(../images/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
}

input.text-field {
    width: 100%;
}
.contact-form {
    margin-left: 30px;
}
.contact-form h1{
    font-size: 35px;
    color: #607d8b;
    margin: 0px 0px 15px 0px;
    text-align: center;
    border-bottom: 10px solid #607d8b30;
}
p.short-text {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #2ea8f6;
}
input.text-field {
    margin-bottom: 30px;
    width: 100%;
    padding: 10px 30px;
}
#textarea {
    padding: 10px 30px;
}
input.submit-btn {
    font-size: 18px;
    color: #fff;
    padding: 15px 50px;
    border:none;
    background-image: linear-gradient(
322deg
, #a5d4ee, #0a9af8);
    border-radius: 50px;
    box-shadow: 3px 3px 20px #8080809c;
    margin-top: 10px;
}
/*footer section */
footer.footer {
    text-align: center;
    background-color: #566369;
    padding: 40px 0px;
}
footer.footer p {
    color: #fff;
}